Hey new idea page nicely done

<%= render partial: 'layouts/errors', locals: {object: @idea}%>

<%= form_for(@idea) do |f| %>
    <div>
    <%= f.label :title %>
    <%= f.text_field :title %><br>    
    </div>
    <div>
    <%= f.label :description %>
    <%= f.text_field :description %><br>
    </div>
    <p> Which type of idea does this belong to? </p>
        <%= f.collection_select :type_id, Type.all, :id, :name %>

    <p>You could create your own type if you dont see one you like.<p>
    <div>
        <%= f.fields_for :type do |i| %>
            <%= i.label :name %>
            <%= i.text_field :name %>
        <% end %>
        </div>
    <%= f.submit%>

    <% end %>
