<h1>All the comments</h1>
<h1><%= @idea.title %></h1>
<p><h4>Idea: <%= @idea.type.name %></h4>
<%= @idea.description %><br>
<p>

<%= @idea.user.username %>
<ul>
<% @comments.each do |c|  %>
    <h5> <%= c.idea.title %> </h5>
   <li> Rating - <%= c.rating %></li>
    <h6>Comment</h6>
    <%= c.content %><br>
    <%= c.idea.user.username %>
<% end %>
</ul>